body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
  }
.dropdown{
  color: rgb(30, 66, 97);
  margin: 3%;
}

#result-button{
  margin: 3%;
}
  #container{
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 70%;
    background-color: rgb(91, 94, 128);
    color: rgb(242, 240, 255);
   
  }

  p{
    text-align:justify;
  }

#content{
  display:flex;
  align-items: center;
  flex-direction: column;
  width: 89%;
}

  h4{
    margin: 1%;
  }