body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
  }
.form-select{
  background-color: rgb(100, 108, 114);
  margin: 4.5%;
  color: aliceblue;
  font-family: "monospace";
}

#result-button{
  margin: 2%;
  font-family:'Lucida Sans Unicode';
  border: 0ch;
  color: rgb(254, 255, 255);
  background: transparent;
}
  #container{
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 73%;
    width: 70%;
    background-color: rgb(52, 58, 134);
    color: rgb(242, 240, 255);
   
  }

  p{
    text-align:justify;
    margin-bottom: 1%;
  }

#content{
  display:flex;
  align-items: center;
  flex-direction: column;
  width: 89%;
}

  h3{
    margin: 1%;
    font-family: fantasy;
  }